* {
  margin: 10px 0 10px 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Helvetica Neue, Arial;
  font-size: 18px;
  width: 95%;
}

h1,
h2 {
  color: #00960b;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.main-text {
  text-align: justify;
  margin-bottom: 20px;
}

.author-text {
  font-size: 22px;
  float: left;
  margin-top: 30px;
  margin-right: 30px;
  float: right;
}

.container {
  margin: 40px auto 10px;
  margin-left: 2%;
}

.blog-post {
  width: 75%;
  float: right;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.blog-post img {
  height: 250px;
  width: auto;
}

.other-posts {
  width: 25%;
  float: right;
}

.author-box {
  border-top: 1px solid rgb(227, 33, 33);
  margin-top: 20px;
  margin-bottom: 20px;
}

.author-box img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: right;
}

.other {
  margin-bottom: 40px;
}

.date {
  top: 10px;
  float: right;
  right: 30px;
}
